@media (min-width:567px){
    .container{
        width: 100%;
        padding:0 15px;
    }
}
@media (min-width:768px){
    .container{
        width: 100%;
        padding:0 15px;
    }
}
@media (min-width:992px){
    .container{
        width: 100%;
        padding:0 15px;
    }
}
@media (min-width:1200px){
    .container{
        width: 100%;
        padding:0 15px;
    }
}
@media (min-width:1400px){
    .container{
        width: 1320px;
    }
}