/* ----------------------font--------------------------- */
@font-face {
  font-family: "Playfair Display", serif;
  src: url("../fonts/testFont/PlayfairDisplay-BlackItalic.woff");
}
/* ------------------DEFAULT Css----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
:root {
  --primary-color: #fee2b3;
  --color-dark: #f5d194;
}
header {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  position: sticky;
  top: 0;left: 0;
  z-index: 2;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
dl {
  list-style: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1140px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
.button {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
  border-radius: 8px;
  padding: 10px 20px;
}
.button:hover {
  background-color: var(--color-dark);
}
/* -----------------------display css------------------------- */
.display {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}
/* -----------------------grid css------------------------- */
.grid-cols {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.col-span {
  grid-column: span 2 / span 3;
}
/* -------------------------Header css-------------------------- */
.menu a {
  margin: 0 10px;
  transition: 0.5s;
}
.menu a:hover {
  color: rgba(0, 0, 0, 0.5);
}.navbar-toggle-button {
  display: none;
}
/* -------------------------Bannner images----------------------------- */
.hero-banner {
  height: 400px;
}
.hero-bgImages {
  background-image: url("../images/bannerbgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-blend-mode: overlay; */
  padding: 10%;
  position: relative;
  /* z-index: 1; */
  /* background-color: rgba(60, 57, 57, 0.5); */
}
.hero-banner-bgimg1 {
  background-image: url("../images/juice.png");
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-banner-bgimg2 {
  background-image: url("../images/juice2.png");
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-bannerContent {
  align-self: flex-start;
  padding: 60px;
  color: rgb(78, 100, 160);
  position: relative;
}
.hero-bannerContent h2 {
  font-size: 40px;
}
.hero-bannerContent p {
  line-height: 20px;
  margin: 20px 0;
  font-weight: 100px;
}
/* .hero-bannerContent2 input {
  padding: 20px 20px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 8px;
}
.hero-bannerContent2 input:focus {
  outline: none;
} */
/*---------------------hero cart css-------------------------*/
.hero-cart {
  margin: 30px 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.hero-cart img {
  width: 100%;
  margin-bottom: 10px;
  transition: 1s;
}
.hero-cart img:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
}
.hero-cart h3 {
  font-size: 20px;
  font-weight: bold;
}
.hero-cart svg {
  width: 20px;
}
.hero-cart p {
  color: black;
}
.hero-cart-content {
  margin: 20px 0;
  line-height: 20px;
}
.hero-cart-button {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #454748;
  color: white;
  transition: 1s;
}
.hero-cart-button:hover {
  background-color: #808181;
}
.hero-cart-icon {
  margin: 20px 0;
}
.hero-cart-icon li {
  padding: 10px;
  background-color: rgba(228, 224, 224, 0.5);
  border-radius: 50%;
  transition: 1s;
}
.hero-cart-icon  li:hover {
  transform: scale(1.1);
  background-color: rgba(245, 235, 235, 0.5);
}
.hero-cart-icon li a svg {
  width: 20px;
}
/* ---------------Table css----------------- */
.hero-tablelist {
  margin: 30px 0;
}
.hero-table {
  width: 100%;
  padding: 20px 10px;
  margin: 10px;
  border-spacing: 30px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.hero-tablelist h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.hero-table tr td img {
  width: 200px;
}
.hero-table thead tr th {
  border-collapse: collapse;
 padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.hero-table tbody tr td {
  border-collapse: collapse;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(205, 203, 203);
}
/* ----------------------animentions----------------------------------- */
.hadline{
  padding: 1px 0;
  background-color: #eee125;
  
}
.hadline p{
  animation:loop 10s infinite ;
}

@keyframes loop {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}